.checkpoint-wrapper {
  position: relative;
  height: 15px;
}

.date {
  font-family: "Satoshi", sans-serif;
  color: white;
  width: max-content;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);

  &.passed {
    color: #13F287;
  }

  &.failed {
    color: #FF4D4D;
  }

  &.starred {
    color: #FFE073;
  }

  &.past {
    color: #3B3C3E;
  }
}

.checkpoint {
  display: inline-block;
  background-color: #000;
  width: 13px;
  height: 13px;
  content: "";
  transition: background-color .8s cubic-bezier(0.16, 1, 0.3, 1), border .8s cubic-bezier(0.16, 1, 0.3, 1), border-radius .8s cubic-bezier(0.16, 1, 0.3, 1);
  cursor: pointer;

  &.last {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    transform: translate3d(0, -5px, 0);
    color: #fff;

    svg {
      width: .9em;
    }
  }

  &.current.last svg {
    color: #000;
  }

  // Tag
  &.incomplete, &.previous {
    border: 1px solid #fff;
  }

  &.passed {
    border: 1px solid #13F287;
  }

  &.failed {
    border: 1px solid #FF4D4D;
  }

  &.starred {
    border: 1px solid #FFE073;
  }

  &.past {
    border: 1px solid #3B3C3E;
  }

  // State
  &.normal {
    border-radius: 5px;
  }

  &.current, &.previous, &.past {
    border-radius: 100%;
  }

  &.current {
    border: 1px solid #fff;
    background-color: #fff;

    &.passed {
      border: 1px solid #13F287;
      background-color: #13F287;
    }

    &.failed {
      border: 1px solid #FF4D4D;
      background-color: #FF4D4D;
    }

    &.starred {
      border: 1px solid #FFE073;
      background-color: #FFE073;
    }
  }

  &.past {
    &.passed {
      border: 1px solid #367f5e !important;
    }

    &.failed {
      border: 1px solid #903c3c !important;
    }

    &.starred {
      border: 1px solid #8d7f52 !important;
    }
  }
}

