.key-category {
  font-family: "Satoshi", sans-serif;
  font-weight: bold;
  color: #fff;
  margin: 2em 0 .5em 0;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 1em;
}